body{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
}
a, li, button, .button{
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out; 
	-o-transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out; 
	transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out; 
}

/*Header, menu*/
.header{
	background-color: #000;
	padding: 15px 0 20px 0;
}
.logo{
	margin-left: 15px;
}
.menu{
	margin-top: 8px;
}
.menu li{
	float: left;
	border: 1px solid #000;
	margin-left: 10px;
	margin-top: 5px;
}
.menu li.login, .menu li.blog {
	position: relative;
	padding-left: 27px;
}
.menu li:before{
	content: '';
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 10px;
	left: 10px;
}
.menu li.blog{
	border: 1px solid #000;
}
.menu li.login{
	border: 1px solid #2d2d2d;
}
.menu li.login:before{
	background: url('../img/icon.png') no-repeat -3px -21px;
}
.menu li.blog:before{
	background: url('../img/icon.png') no-repeat -2px -1px;
}
.menu li a{
	display: block;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
}
.menu li:hover{
	border: 1px solid #fff;
}

/*First section*/
.content{
	position: relative;
}
.content:before{
	content: '';
	display: block;
	position: absolute;
	left: -30px;
	bottom: 0;
	height: 476px;
	width: 312px;
	background: url("../img/girl.png") 50% 100% no-repeat;
}
.content .girl{
	position: absolute;
	left: -50px;
	bottom: 0;
}
.container{
	max-width: 1200px;
	min-width: 310px;
	padding: 0 35px;
}
.big-header{
	font-size: 38px;
	line-height: 50px;
	color: #fff;
	font-weight: 700;
}
.small-header{
	font-size: 27px;
	line-height: 36px;
	color: #fff;
}
.main{
	background: url("../img/bg-header.jpg") no-repeat;
	background-size: cover;
}
.content{
	padding: 90px 0 85px 320px;
}
.content .main-features {
	margin-top: 90px;
	font-size: 28px;
	font-weight: 600;
	line-height: 42px;
	float: left;
}
.content li{
	position: relative;
	margin-left: 50px;
	color: #fff;
}
.content li:before{
	content: '';
	background: url("../img/icon.png") no-repeat;
	background-position: -1px -42px;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	left: -50px;
}
.content li:nth-child(2):before{
	background: url("../img/icon.png") no-repeat;
	background-position: -3px -75px;
}
.content li:nth-child(3):before{
	background: url("../img/icon.png") no-repeat;
	background-position: -3px -105px;
}
.content li:nth-child(4):before{
	background: url("../img/icon.png") no-repeat;
	background-position: -3px -131px;
}
.content li:nth-child(5):before{
	background: url("../img/icon.png") no-repeat;
	background-position: -2px -163px;
}

.main .form{
	height: 200px;
	width: 100%;
	float: left;
	margin-top: 90px;
}

input, .button{
	font-size: 18px;
	display: block;
	width: 100%;
	height: 25%;
	border: none;
	padding-left: 20px;
}
input{
	border-bottom: 1px solid #eaeaea;
	color: #A9A9A9;
	outline: none;
}
.button{
	background: #cc0000;
	color: #ffffff;
	font-size: 18px;
    position: relative;
	letter-spacing: .8px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	box-shadow: 0 3px 0 0 #AE0000;
	cursor: pointer;
	text-align: center;
}
.button:hover{
	background-color: #fd0000;
}
.button:after{
	content: '';
	background: url("../img/icon.png") no-repeat;
	background-position: -8px -195px;
	margin-left: 1px;
	width: 10px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 4px;
}
.ba-grid{
	padding: 0;
	margin: 0;
	margin-left: -30px;
}
/*Second section, With 2 columns*/
b{
	font-weight: bolder;
}
.business{
	text-align: center;
}
.login-here{
	line-height: 36px;
	color: #666666;
	font-size: 14px;
	opacity: 0.8;
	padding-bottom: 40px;
}
.login-here a{
	text-decoration: none;
	color: #666666;
	padding-left: 20px;
	position: relative;
}
.login-here a:before{
	content: '';
	background: url("../img/icon.png") no-repeat;
	background-position: -4px -219px;
	width: 20px;
	height: 15px;
	position: absolute;
	top: 3px;
	left: 6px;
}
.login-here a:hover{
	text-decoration: underline;
}
.business .header-business span{
	font-size: 36px;
	color: #333333;
	position: relative;
	font-weight: 700;
	display: inline-block;
	
}
.business .header-business span:before{
	content: '';
	display: block;
	position: absolute;
	right: -25px;
	top: -3px;
	height: 28px;
	width: 28px;
	background-image: url('../img/icon.png');
	background-position: -4px -236px;
	background-repeat: no-repeat;
}
.business .spend-time{
	font-size: 24px;
	line-height: 36px;
	color: #333333;
	padding-bottom: 45px;
}
.list li{
	color: #666666;
	float: left;
	width: 50%;
	text-align: left;
	padding-right: 35px;
	padding-left: 80px;
	position: relative;
	margin-bottom: 20px;
	position: relative;
}
.list li:before{
	content: "";
	background: url("../img/icon.png") no-repeat #cc0000;
	background-position: 12px -283px;
	width: 60px;
	height: 60px;
	position: absolute;
	left: -80px;
	top: 7px;
	border-radius: 50%;
	margin-left: 80px;
	margin-top: 5px;
}
.list li:nth-child(3):before{
	background: url("../img/icon.png") no-repeat #cc0000;
	background-position: 12px -347px;
}
.list li:nth-child(2):before{
	background: url("../img/icon.png") no-repeat #cc0000;
	background-position: 12px -508px;
}
.list li:nth-child(4):before{
	background: url("../img/icon.png") no-repeat #cc0000;
	background-position: 12px -589px;
}
.list li:nth-child(5):before{
	background: url("../img/icon.png") no-repeat #cc0000;
	background-position: 12px -427px;
}
.list li:nth-child(6):before{
	background: url("../img/icon.png") no-repeat #cc0000;
	background-position: 12px -659px;
}
.list li .list-header{
	font-size: 16px;
	line-height: 36px;
}
.list li .list-caption{
	line-height: 20px;
	opacity: 0.9;
}
.business .caption{
	font-size: 18px;
	line-height: 36px;
	color: #333333;
	padding: 30px 0 45px 0;
	opacity: 0.8;
}
.business .money{
	position: absolute;
	bottom: 0;
	right: 50px;
}
.business{
	background: url('../img/money.png') no-repeat;
	background-position: 100% 50%;
	position: relative;
	border-bottom: 1px solid #eaeaea;
}

/*help*/
.help .help-header-big span{
	font-size: 36px;
	color: #333333;
	position: relative;
	font-weight: 700;
	display: inline-block;
}
.help .help-header-big span:before{
	content: '';
	display: block;
	position: absolute;
	right: -35px;
	top: -5px;
	height: 32px;
	width: 40px;
	background-image: url('../img/icon.png');
	background-position: 0 -758px;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.help .help-header-big:hover span:before{
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.help .help-header-small{
	font-size: 24px;
	line-height: 36px;
	color: #333333;
	padding-bottom: 45px;
	opacity: 0.8;
}
.help{
	text-align: center;
	padding: 80px 0 60px;
}

/*pre-footer*/
.pre-footer{
	background-color: #333333;
	padding: 30px 15px;
	color: #fcf7f7;
	font-size: 36px;
}
.pre-footer span{
	display: block;
	width: 66%;
	float: left;
}
.pre-footer .get-started{
	display: inline-block;
	background: #cc0000;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	width: 30%;
	font-size: 18px;
	letter-spacing: .8px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	box-shadow: 0 3px 0 0 #AE0000;
	float: right;
}
.pre-footer .get-started:hover{
	background-color: #fd0000;
}

/*footer*/
.footer{
	background-color: #000;
	color: #fff;
	padding: 20px 15px;
}
.footer .copyright{
	font-size: 12px;
	line-height: 24px;
	float: left;
	opacity: 0.8;
}
.footer .copyright a, .footer-nav ul li a{
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	opacity: 0.8;
	text-decoration: none;
}
.footer .footer-nav{
	float: right;
}
.footer-nav ul li{
	float: left;
	display: inline;
	padding: 0 10px; 
}
.footer li a:hover{
	text-decoration: underline;
}
@media (max-width: 767px) {
	.ba-container-center{
		text-align: center;
	}
	.logo{
		float: none;
	}
	.menu{
		float: none;
	}
	.menu li {
		display: inline-block;
		float: none;
	}
	.content{
		padding: 30px 0 30px 40px;
	}
	.content .main-features{
		float: left;
		text-align: left;
	}
	.content:before{
		display: none;
	}
	.ba-width-1-2{
		width: 100%;
	}
	.content .form {
		margin-top: 30px;
	}	
	.content .main-features {
		margin-top: 50px;
	} 	
	.list li{
		width: 100%;
	}
	.list li .list-header{
		line-height: 26px;
	}
	.business p.caption{
		line-height: 24px;
	}
	.help{
		text-align: center;
	}
	.pre-footer .start-free {
		text-align: center;
	}
	.pre-footer .get-started{
		float: none;
		margin-top: 30px;
		width: 240px;
	}
	.pre-footer span{
		float: none;
		width: 100%;
	}
	footer.footer{
		text-align: center;
	}
	.copyright{
		float: none;
		width: 100%;
	}
	footer.footer .footer-nav{
		float: none;
		display: inline-block;
		
	}
	.footer-nav li{
		float: none;
	}
	.list li:before{
		content: "";
		background: url("../img/icon.png") no-repeat #cc0000;
		background-position: 12px -283px;
		width: 60px;
		height: 60px;
		position: absolute;
		left: -80px;
		opacity: 1;
		top: 0;
		border-radius: 50%;
		margin-left: 80px;
		margin-top: 5px;
	}
}
@media (max-width: 959px) and (min-width: 768px) {
	.content .main-features li{
		font-size: 20px;
	}
	.content .main-features{
		margin-right: 3px;
	}
}

.menu-toggle{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: none !important;
	box-shadow: none !important;
	padding: 0;
	margin: 20px 0 0 0;
	border: none;
	outline: none;
}
.menu-toggle .line,
.menu-toggle:before,
.menu-toggle:after{
	width: 100%;
	content: '';
	display: block;
	background: #FFF;
	padding: 0;
	margin: 0;
	height: 4px;
}
.menu-toggle .line,
.menu-toggle:after{
	margin-top: 6px;
}
.menu-toggle:hover{
	cursor: pointer;
}

@media (min-width: 480px) {
	.menu-toggle{
		display: none;
	}
}
@media (max-width: 479px) {
	.header-nav .menu li{
		display: block;
		text-align: left;
	}
	.header-nav{
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
 	.header-nav .menu li.login{
 		border-color: transparent;
 	}
 	.header-nav .menu li.login:hover{
 		border-color: #fff;
 	}
 	.header-nav .menu{
		display: none;
		clear: both;
	}
	.logo{
		float: left;
	}
	.header-nav .menu-toggle{
		float: right;
	}
	.header-nav .menu{
		position: fixed;
		top: 0;
		right: -240px;
		background: #000;
		z-index: 10;
		width: 200px;
		bottom: 0;
		padding: 20px;
		margin: 0;
		display: block;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.menu-open .header-nav .menu{
		right: 0;
	}
	.menu-open{
		/*overflow: hidden;*/
	}
	.overlay{
		visibility: hidden;
		z-index: 9;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(255,255,255,0.59);
		bottom: 0;
		right: 0;
		opacity: 0;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.menu-open .overlay{
		visibility: visible;
		opacity: 1;
	}
}



#menu-toggle{
	display: none;
}
/*#menu-toggle:checked + .menu{
	display: block;
	clear: both;
}*/

@media (max-width: 970px) and (min-width: 768px) {
	.ba-container-center{
		text-align: center;
	}
	.logo{
		float: none;
	}
	.header .header-nav .menu{
		float: none;
		display: inline-block;
	}
}
